<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if metaTitle %}{{ metaTitle }} - {% endif %}{{ site[locale].title }}</title>
</head>
<body>

  {% include "partials/lggnav.njk" %}
  {% include "partials/mainnav.njk" %}

  {% block content %}{% endblock %}

  {% include "partials/footer.njk" %}

</body>
</html>
