<header class="c-siteheader">
  <nav class="c-siteheader__lggnav">
    {% include "partials/lggnav.njk" %}
  </nav>
  <nav class="c-siteheader__mainnav">
    {% include "partials/mainnav.njk" %}
  </nav>
</header>