{% for navitem in mainnav[locale] %}
  {% if loop.first %}<ul class="c-mainnav">{% endif %}
    <li class="c-mainnav__item"><a class="c-mainnav__link" href="{{ navitem.url }}">{{ navitem.label }}</a></li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
